.form{
    text-align: center;
}

.label, .input{
    display: inline-block;
}

.field{
    margin-top: 20px;
}

.connect{
    margin-top: 40px;
}

.button{
    padding: 15px;
}

.submit{
    text-align:right
}

.remember{
    text-align: left;
}

.registerform{
    padding-left:35%;
    text-align:left;
}

.registerform .required {
    width: 20%;
    display: inline-block;
}

.submit {
    text-align: center;
}
