{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block lien %}
    {# à conserver override le block lien de base.html.twig et permet de ne pas voir le lien Connesion dans le bandeau #}
{% endblock %}

{% block css %}
{% endblock %}

{% block body %}

    <form method="post">

        <div class="h-100 p-5 bg-light border rounded-3">
            <fieldset>
            <legend>Connection</legend>

            <div class="form-group">
                <label for="username">Nom d'utilisateur</label>
                <input type="text" value="{{ last_username }}" class="form-control" id="username"
                       placeholder="Nom d'utilisateur" name="username" required autofocus>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group">
                <label for="remember_me">Se souvenir de moi</label>
                <input type="checkbox" id="remember_me" name="_remember_me" checked/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Se connecter</button>
            </div>

                <div class="form-group">
                    <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié </a>
                </div>

            </fieldset>
        </div>

    </form>

{% endblock %}
