{% extends 'base.html.twig' %}

{% block title %}Connexion | {{ parent() }}{% endblock %}

{% block lien %}
{#    à conserver override le block lien de base.html.twig et permet de ne pas voir le lien Connesion dans le bandeau#}
{% endblock %}

{% block body %}
    <form method="post">

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>

        <label for="inputPseudo">Pseudo</label>
        <input type="text" value="{{ last_username }}" name="pseudo" id="inputPseudo" class="form-control" required autofocus/>

        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>


        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label for="remember_me">Se souvenir de moi</label>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div>
            <a href="{{ path('app_forgot_password_request') }}"> Mot de passe oublié </a>
        </div>

        <button class="btn btn-lg btn-primary" type="submit">
            Se connecter
        </button>
    </form>
{% endblock %}
