{% extends 'base.html.twig' %}

{% block title %}Hello AjoutSortieController!{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.site) }}

    <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

{% endblock %}
