<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sortir.com{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
    {% endblock %}

    {% block bandeau %}
        <div class="bandeau">
            <div class="element col-9x12">
                <h1><a href=""> Sortir.com </a></h1>
            </div>

            {% block lien%}
                <div class="element col-3x12">
                    <a href="{{ path('AP') }}"> Mon profil </a>
                    <a href=""> Se déconnecter </a>
                </div>
            {% endblock %}

        </div>
    {% endblock %}

</head>

<body>

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

</body>
</html>
